
# Build files
/build
/*/build
/bin
/gen
/out

# Gradle
.gradle/
build/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties

# IntelliJ / Android Studio
.idea
*.iml
*.ipr
*.iws
/out/

# Local configuration
local.properties
sdk.properties

# OS specific
.DS_Store
Thumbs.db
